h1{
   
    text-align: center;
    background-color: white;
}
body{
    margin: 0%;
    font-family: 'open Sans';
    background-image: url(img/login_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


p{
    font-size: 20px;   
    background-color: #4d9de0;   
    margin-left: 20px;
    margin-top: 20px;
    height: 450px;
    width: 250px;
    padding-left: 100px;
    display: inline-block
}
.hisuv{
    padding-left: 50px;
}
.print_me{
background-color: crimson;
}
  
   
