body {
    margin: 0%;
    font-family: 'Open Sans'; 
    background-image: url(img/login_back.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}

.col1 {
    width: 50%;
    height: 100%;
    
}

.form {
  margin: 0 auto;
  width: 50%;
}

.login {
    height: 70vh;
    width: 40%;
    background-color: #4D9DE0;
    padding: 2%;
    margin: 0 auto;
    margin-top: 12%;
    border-radius: 8px;
}

.login-row {
  margin: 0 auto;
  padding: 0.2em;
}

h1 {
  color: snow;
  font-size: 4em;
  text-align: center;
}

.animate-in {
    animation: fadeIn .5s ease-in;
  }
  
  .animate-out {
    transition: opacity .5s;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }