@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


body {
    background-image: url(img/login_back.jpg);
    background-size:cover ;
}
  
/* .calcs{
    font-size: 20px;   
    background-color: #4d9de0;   
    margin-left: 20px;
    margin-top: 20px;
    height: 450px;
    width: 250px;
    padding-left: 100px;
    display: inline-block
}
.hisuv{
    padding-left: 50px;
} */

#hTitle{ 
    font : normal 300 32px/1 'Josefin Sans', sans-serif;
    color : #fff;
    text-align : center;
}

.calc-text button {
    margin: auto 1% auto 20%;
    border: none;
    outline: 0;
    font-size:1.3em;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 153px;
    color: black;
    background-color: #FFFBFE;
    text-align: center;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font : normal 300 32px/1 'Josefin Sans', sans-serif;
  }
  
  .calc-text button:hover {
    background-color: #27B9B6;
    color: white;
  }

.container{
    height: 100%;
    margin: 2% auto auto 20%;
    max-width: 338px;
    height: 520px;
    max-height: 600px;
    background-color: #4d9de0;  
    border-radius: 5px;
    overflow-y: auto;
}

.container p{
    font : normal 300 20px/1 'Josefin Sans', sans-serif;
    color : white;
    padding : 10px;
    margin-left: 20px;
}

@media print {
    .container {
        background-color: white;
        font : normal 300 20px/1 'Josefin Sans', sans-serif;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
    }
}