body {
    margin: 0%;
    font-family: 'Open Sans'; 
}

/*THE LOGIN PAGE CSS*/
.login_main {
    background-image: url(img/login_back.jpg);
    background-size:cover ;
    min-height: 100vh;
    box-shadow:inset 0 0 0 2000px rgba(217, 255, 0, 0.3);
}

.col1 {
    width: 50%;
}

.login {
    height: 80vh;
    width: 50%;
    background-color: #4D9DE0;
}

.animate-in {
    animation: fadeIn .5s ease-in;
  }
  
  .animate-out {
    transition: opacity .5s;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }