@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


body {
    background-image: url(img/login_back.jpg);
    background-size:cover ;
}

.calc-text button {
    margin-top: 1%;
    border: none;
    outline: 0;
    font-size:1.3em;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: #FFFBFE;
    text-align: center;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font : normal 300 32px/1 'Josefin Sans', sans-serif;
  }
  
  .calc-text button:hover {
    background-color: #27B9B6;
    color: white;
  }

.main{
  height: 100%;
  margin: 2% auto auto 20%;
  max-width: 338px;
}
.container {
  background-color: #E0C400;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 5px;
}

.button {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #D3E4F7; */
  height: 2.5em;
  width: 2.5em;
  border-radius: 5px;
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.1s;
  user-select: none;
}

.button:hover {
  background-color: #4D9DE0;
  color: white;
}

.button:active {
  background-color: #274F70;
  transform: scale(0.98);
}

.operation:hover{
  color: #34F6F2;
}

.equal{
   width : 165px;
   grid-column-start: 3;
   grid-column-end:5 ;
}

.result {
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid lightgray; */
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
  min-height: 2em;
  max-height: 3em;
  width:305px; 
  grid-column-start: 1;
  grid-column-end: 5;
  align-items: center;
  flex-direction: row-reverse;
  display: flex;
  padding: 0.5em;
  overflow: auto;
}

