body {
  background-image: url(img/login_back.jpg);
  background-size:cover ;
  background-repeat: no-repeat;
}

.col1 {
  width: 50%;
  height: 100%;
  
}

.form {
margin: 0 auto;
width: 80%;
}

.login {
  width: 40%;
  background-color: #4D9DE0;
  padding: 2%;
  margin: 0 auto;
  margin-top: 12%;
  border-radius: 8px;
}

.login-row {
margin: 0 auto;
padding: 0.2em;
}

h1 {
color: snow;
font-size: 3vw;
text-align: center;
font : normal 300 48px/1 'Josefin Sans', sans-serif;
}

input{
  color: black;
  font : normal 300 22px/1 'Josefin Sans', sans-serif;
  text-align: right;
  overflow-y: auto;
  width: 50%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  padding: 7px 0;
  margin-left: 2%;
 }

 
input::placeholder{
   text-align: left;
   font : normal 300 20px/1 'Josefin Sans', sans-serif;
 }


.login-row > img {
  width: 100%;
}

form > input {
  text-align: left;
  width: 100%;
 }

 #btn {
   text-align: center;
 }