@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
html, body {
   margin: 0;
   padding: 0;
   height: 100%;;
   font-family: Arial, sans-serif;
}

.welcome-header{
    display: inline-block; 
    align-items: left;
    justify-content: left;
    margin-left: 10px;
}

#userHeader{ 
  font : normal 300 20px/1 'Josefin Sans', sans-serif;
}


.sticky {
    z-index: 1;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
/* animation transition between pages */
  .animate-in {
    animation: fadeIn .5s ease-in;
  }
  
  .animate-out {
    transition: opacity .5s;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }