@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


body {
    background-image: url(img/login_back.jpg);
    background-size:cover ;
}

.calc-text button {
    margin-top: 1%;
    border: none;
    outline: 0;
    font-size:1.3em;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: #FFFBFE;
    text-align: center;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font : normal 300 32px/1 'Josefin Sans', sans-serif;
  }
  
  .calc-text button:hover {
    background-color: #27B9B6;
    color: white;
  }

.main{
  height: 100%;
  margin: 2% auto auto 20%;
  max-width: 338px;
}
.container {
  background-color: #E0C400;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 5px;
}

.button {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 5px;
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.1s;
  user-select: none;
}

.button:hover {
  background-color: #4D9DE0;
  color: white;
}

.button:active {
  background-color: #274F70;
  transform: scale(0.98);
}

.operation:hover{
  color: #34F6F2;
}

.equal{
   width : 165px;
   grid-column-start: 3;
   grid-column-end:5 ;
}

.result {
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid lightgray; */
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
  min-height: 2em;
  max-height: 3em;
  width:305px; 
  grid-column-start: 1;
  grid-column-end: 5;
  align-items: center;
  flex-direction: row-reverse;
  display: flex;
  padding: 0.5em;
  overflow: auto;
}


#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url(img/login_back.jpg);
}

#popup {
  position: absolute;
  left: 50%;
  background: #fff;
  width: 500px;
  height: 400px;
  margin-left: -250px; 
  margin-top: -250px; /*Half the value of height to center div*/
  top: -50%; /*Put it on the very top*/
  transition: all .3s ease-in-out; /*make it smooth*/
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  z-index: -1; /*hide it in the back of the page*/
  border-radius: 5px;
}

.popupcontent {
  padding: 20px;
}

#popup.show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 50%; 
  transform: scale(1);
}
.share-title {
  padding: 10px;
  color: black;
  font : normal 300 48px/1 'Josefin Sans', sans-serif;
  text-align: center;
}

.share-text {
  color: #27B9B6;
  font : normal 300 28px/0.8 'Josefin Sans', sans-serif;
  text-align: center;
}

.share-input{
 color: black;
 font : normal 300 24px/1 'Josefin Sans', sans-serif;
 text-align: left;
 overflow-y: auto;
 width: 80%;
 border: 0;
 border-bottom: 2px solid black;
 outline: 0;
 padding: 7px 0;
 margin-left: 2%;
 margin-bottom: 2%;
 background-color: transparent;
}

.share-input::placeholder{
  font : normal 300 18px/1 'Josefin Sans', sans-serif;
}


#btn{
  margin-top: 1%;
  border: none;
  outline: 0;
  font-size:1.3em;
  border-radius: 5px;
  width:100%;
  display: inline-block;
  padding: 10px 153px;
  margin: 4% auto auto auto;
  color: black;
  background-color: #FFFBFE;
  text-align: center;
  cursor: pointer;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
}

#btn:hover {
  background-color: #27B9B6;
  color: white;
}


